<div id="secret-data-<%= secret_record.id %>" class="modal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= secret_record.title %></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Username</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input secret-data"><%= secret_record.username %></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Password</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input secret-data" data-decrypt-on-show="<%= secret_record.password %>"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">URL</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input secret-data"><%= link_to secret_record.url, secret_record.url, target: '_blank' %></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Notes</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input secret-data" style="height: 100px"><%= secret_record.notes.to_s.gsub("\n", '<br />').html_safe %></span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" href="#">Close</a>
  </div>
</div>
