<div class="btn-group pull-right">
  <%= link_to 'New', new_secret_record_path, class: 'btn' %>
</div>
<h1>Listing</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @secret_records.each do |secret_record| %>
    <tr>
      <td><%= secret_record.title %></td>
      <td>
        <div class="btn-group pull-right">
          <a data-toggle="modal" href="#secret-data-<%= secret_record.id %>" class="btn btn-small" type="button"><em class="icon-eye-open"></em> Show</a>
          <%= link_to 'Edit', edit_secret_record_path(secret_record), class: 'btn btn-small' %>
          <%= link_to 'Destroy', secret_record, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %>
        </div>
        <%= render secret_record %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

