<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Password.Web" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Password.Web" %>">
    <% if current_user and @group %>
      <meta name="x-user-secret" content="<%= @group.secret_for current_user %>">
    <% end %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    <div class="modal hide fade" id="user-password-dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Password required</h3>
      </div>
      <div class="modal-body">
        <p>Your password is required to decrypt the data</p>
        <form onsubmit="$(this).parents('.modal').data('result', 'ok').modal('hide'); return false;">
          <fieldset>
            <label for="user-password-dialog-password">Password</label>
            <input type="password" id="user-password-dialog-password" value="" class="text ui-widget-content ui-corner-all" />
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" onclick="$(this).parents('.modal').data('result', 'ok').modal('hide'); return false;">OK</a>
      </div>
    </div>
  </body>
</html>
