<div class="row">
  <div class="span3">
    <%= render 'groups/navigation' %>
  </div>

  <div class="span9">
    <div class="btn-group pull-right"><%= link_to 'New Member', new_group_member_path(@group), class: 'btn' %></div>
    <h3>Members</h3>
    <table class="table table-striped">
      <tbody>
      <% @group.members.each do |member| %>
        <tr>
          <td><%= member.user.email %></td>
          <td>
            <div class="btn-group pull-right">
              <%= link_to 'Edit', edit_group_member_path(@group, member), class: 'btn btn-small' %>
              <%= link_to 'Destroy', [@group, member], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

